SECRET_KEY=change-me-to-random-string
DEBUG=True
DATABASE_URL=postgres://quizapp_user:password@localhost/quizapp_db
EMAIL_HOST=infortel.pl
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=quiz@infortel.pl
EMAIL_HOST_PASSWORD=change-me
ALLOWED_HOSTS=quiz.infortel.pl,localhost
SITE_URL=https://quiz.infortel.pl
